body{
	
}
.site-flex{
	height: 100%;
	width: 100%;
	text-align: center;
}
.site-center{
	margin: auto;
	width: 100%;
	height: 500px;
	background: #f0f0f0;
	border: 3px solid red;
	position: relative;
}
.site-center span{
	display: block;
	font-size: 20px;
	margin-top: 30px;
}
.site-center p{
	font-size: 24px;
	display: block;
	margin: 50px auto 0;
}
.img-wrap{
	max-width: 253px;
	height: 127px;
	margin: 50px auto 0;
	position: relative;
	background-image: url("bg.png");
	background-size: cover;
}
.img-wrap .arrow-wrap{
	position: absolute;
	left: 22%;
	bottom: -70px;
	width: 144px;
	height: 144px;
	background-image: url("arrow3.png");
	background-size: cover;
}
.persent{
	color: blue;
	font-size: 30px;
}